# Explicitly ignore requested and common folders
.idea/
target/
.vscode/
.settings/
.classpath/
.project/
bin/
out/
build/
.mvn/
node_modules/
dist/
.history/
/src/main/resources/certs
*.csv
command.txt
.env
*.pem
.env*