# Ignore everything
*

# Allow all directories to be scanned
!*/

# Whitelist allowed extensions
!*.yml
!*.xml
!*.md
!*.java
!.gitignore

# Explicitly ignore requested and common folders
.idea/
target/
.vscode/
.settings/
.classpath/
.project/
bin/
out/
build/
.mvn/
node_modules/
dist/
.history/
