spring:
  application:
    name: sus-connect-network-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  forward-headers-strategy: framework

springdoc:
  show-actuator: true

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    com.fiap.sus.network: INFO
    org.springframework.web: WARN

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 0.1 # Lower sampling for production by default

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}
  liveops:
    private-key: ${LIVEOPS_PRIVATE_KEY}
    issuer: sus-connect-network-api
    audience: sus-connect-liveops-api

app:
  geocoding:
    url: ${GEOCODING_URL}
  liveops:
    url: ${LIVEOPS_URL}
